<main class="flex flex-col justify-center items-center">
  <app-header class="mb-20" />
  <div class="w-full ml-60 flex items-start">
    <ul>
      @for(user of users;track user.id){
      <li>
        <app-user
          [selected]="user.id === selectedUserId"
          [user]="user"
          (select)="onUserSelection($event)"
        />
      </li>
      }
      <!-- <app-user [user]="users[0]" (select)="onUserSelection($event)" />
      <app-user [user]="users[0]" (select)="onUserSelection($event)" />
      <app-user [user]="users[0]" (select)="onUserSelection($event)" /> -->
    </ul>
    @if(selectedUser) {
    <app-tasks
      [userId]="selectedUser.id"
      [userName]="selectedUser.name"
      class="ml-[10rem] border-2 border-black p-3 rounded-md w-[40rem]"
    />
    }@else {
    <p
      class="ml-[17.5rem] text-white bg-black hover:bg-white hover:text-black px-3 py-1 rounded-md"
    >
      " Select a user to see their Tasks "
    </p>

    }
  </div>
</main>
